html {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 12px; }

body {
  padding: 0;
  margin: 0; }

h1 {
  padding: 10px; }

.hidden {
  display: none !important; }

.main-container {
  clear: both;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 20px; }

.close-button {
  display: hidden;
  width: 20px;
  height: 20px;
  display: block;
  background-color: red; }

.modal {
  display: block;
  background-color: #dadada;
  width: 600px;
  height: 500px;
  border: 2px solid #802f01; }
