@import "variables";

.open-modal-button {

  background-color: $tertiaryColour;
  width: 100%;
  height: 100px;
  font-size: 20px;
  color: white;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  @media #{$retinaBreakpoint} {
    font-size: $retinaFontSize;
  }

}

.target {
  display: none;
}

.close-button {
  display: block;
  position: absolute;
  background-image: url('../images/close-small-white.png');
  background-position: 20px 20px;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.owl-modal {
  display: block;
  position: relative;
  background-color: $secondaryColour;
  width: 100%;
  height: 100%;
  font-size: 36px;
  padding: 5px;
  font-weight: bold;
  color: white;
  @media #{$retinaBreakpoint} {
    font-size: $retinaFontSize;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
